<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome <%= user.name %></h1>
    <h2>My ID is <%=user.id%></h2>
    <h3>My city is <%=user.city%></h3>
    <h4>
      <% user.skills.forEach((item)=>{%>
      <li><%= item%></li>
      <%})%>
    </h4>
  </body>
</html>
